    
        
.search input{
    margin:0 5px;
    width: 100%;
   
}
#side ul{
    display: block;
    margin:20px;
}
#side ul li a:active
, #side div a:active{
    color: red;
    text-decoration: none;
    background-color: white;
}
#side ul li div a{
    display: block;
    margin-left: 2rem;
}
.paragraph{
    width: 80%;
    overflow: scroll;
}
#list-btn ul li a{
    text-align: center;
   
    
}

.media {
    width: 90%;
    margin: 20px 10px;
    height: fit-content;
    overflow-y:hidden;
}
.media .media-l .btn-media,
.media .media-r .btn-media{
    display: block;
    text-align: center;
    margin: 10px 10px 20px 20px;
}
.media .media-l ,
.media .media-r {
    justify-items: center;
    margin: 20px 0;
}
.media .media-l{
    border-right: 2px inset rgb(226, 223, 223);
}
.media-2{
    margin: 10px 10px 20px 20px;

}
.media-3{
    margin: 10px 10px 20px 20px;

}
.media-cmpt{
    height: 22rem;
    margin: 10px 0 20px 0;
}

nav {
    display: flex;
    flex-direction: row;
    width:100%;
    overflow: hidden;
    border-radius: 20px;
    margin: 20px  0 20px 20px ;
}
nav div .navbar-nav a{
   width: 100%;
}
.btn-compte {
    width:100% ;
    margin: 20px auto;
}
.bg-nav{
    margin-right: 20px;
    width: 100%;
}
.compte_rendu{
    width: 90%;
    margin: 20px 10px;
    height: fit-content;
    overflow-y:hidden;
}
#compte-rendu{
    background-color: rgb(241, 236, 236);
    height:200px;
    width: 80%;
    overflow: scroll;
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    
} 