        /*Navbar */
        
        .search input{
            
            width: 100%;
           
        }
        #side ul{
            display: block;
            margin:10px;
        }
        #side ul li a:active
        , #side div a:active{
            color: red;
        }
        .paragraph{
            width: 80%;
        }
       
        .media {
            width: 100%;
            margin: 20px 10px;
            height: fit-content;
            overflow-y:hidden;
        }
        .media .media-l .btn-media,
        .media .media-r .btn-media{
            display: block;
            text-align: center;
            margin: 20px 0;
        }
        .media .media-l ,
        .media .media-r {
        
            margin: 20px 0;
        }
        .media .media-l{
            border-right: 2px inset rgb(226, 223, 223);
        }
        .media-2{
            margin: 20px 10px;
        
        }
        /*---section about--*/
        
        #about .about-content {
            display: block;
            text-align: center;
        }
        
        #about .about-content img {
            width: 100%;
            margin: 1rem 0 0 0;
        }
        /**** Programs */
        
        #programs .boxes {
            display: block;
        }
        /**** trainers */
        
        #trainer .trainers-boxes {
            display: block;
        }
        #trainers .trainers-boxes {
            display: block;
        }
        /**** contact */
        
        #contact {
            flex-direction: column;
            height: 1100px;
        }
        
        #contact .contact-us .form-group {
            display: block;
        }
        
        @media(max-width: 500px) {
            #navbar {
                position: static;
            }
            #navbar ul {
                display: block;
                text-align: center;
            }
            #navbar ul li {
                padding: 1rem;
            }
        }
        
        @media (min-height: 653px) {
            .l-heading {
                font-size: 2rem;
            }
            .m-heading {
                font-size: 1.75rem;
                line-height: 1.2;
            }
            #cta .cta-content {
                min-height: 400px;
            }
        }