*{box-sizing: border-box;}
#side ul{
    list-style: none;
    margin-top:30%;
}
.bg-gray{
    background-color: rgb(241, 236, 236);
}
#side ul li a{
    color:gray;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
}
#side ul li div a{
    display: block;
    margin-left: 2rem;
}
#list-btn ul{
    list-style: none;
   
    
}
#list-btn ul li a{
    color:gray;
    text-decoration: none;
}
  .label-date{
    width: 160px;
    height: 50px;
    background-color: white;
    border-radius: 20px ;
    padding: 10px;
    margin-left: -5rem;
    
}
/* .search{
    position:relative;
    width: 255px;
    height: 50px;
} */
.search input{
    
    position:relative;
    width: 250;
    height: 50px;
    background-color: white;
    border-radius:  20px  20px ;
    padding: 10px;
    text-align:center;
    color:gray;
    
}
.search div .btn-red{
    position:absolute;
    top:0;
    right: 20px;
    width:40px;
    height:40px;
    margin: 30px auto;
    padding:5px;
    background-color: red;
    border-radius: 10px;
}
.btn-ring{
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 100%;
}
.btn-email{
    width: 65px;
    height: 65px;
    background-color: red;
    border-radius: 100%;
}
.btn-avatar{
    width: 65px;
    height: 65px;
    background-color: white;
    border-radius: 100%;
}
.btn-avatar img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border:2px solid gray;
}
#list-btn ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#list-btn ul li a{
    display: flex;
    flex-direction: row;
}
#list-btn{
    margin-top:20px;
}
#print ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#print ul li a{
    display: flex;
    flex-direction: row;
}
#print .btn-print{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color:  white;
}

#print .btn-edit{
    width: 50px;
    height: 50px;
    border-radius: 20%;
    background-color:  white;
}
.media {
    display:flex;
    flex-direction: row;
    overflow: hidden;
    height: 22rem;
    /* width: 97%; */
    /* margin:80% auto; */
    border-radius: 20px; 
   
}
.media .media-l{
    
    border-right: 1px inset rgb(226, 223, 223);
    margin-left: 20px;
}
.media .media-r{
    justify-content: flex-end;
    float:right;
    padding:0 0 0 20px;

}
.media .media-l,
.media .media-r{
    flex:1;
}
.media img {
    /* justify-content: flex-end; */
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin: 5px 40%;

   
}
.media .media-l .btn-media,
.media .media-r .btn-media{
    /* width: fit-content; */
    background-color: red;
    /* padding: 0.5rem 0.75rem; */
    color: white;
    border-radius: 6px;
    margin-left: 20px;
    
}
.btn-media:hover{
    text-decoration: none;
    color: white;
}

.media-2{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 22rem;
    border-radius: 20px;
}
.media-3{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 22rem;
    
    border-radius: 20px;
}
.media-4{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 24rem;
    margin-bottom: 20px;
    border-radius: 20px;
}


.paragrah {
    background-color: rgb(173, 168, 168);
    font-size:11px;
    width:90%;
    overflow: scroll;
    margin:5px auto;
    border-radius: 10px;
}


.nav{
    
    background-color:  rgb(241, 236, 236);
    padding: 8px;
    width: 35rem;
    overflow: hidden;
    margin: 10px;
    margin-left: 20px;
    border-radius: 20px;

}
.nav .btn-nav-1{
    width: fit-content;
    background-color: white;
    padding: 0.5rem 1.25rem;
    color: gray;
    border-radius: 10px;
    margin-left: 1rem;
}
.nav .btn-nav-2{
    width: 5rem;
    
    padding: 0.5rem 1.25rem;
    color: gray;
    border-radius: 6px;
    margin-left: 5rem;
}
.nav .btn-nav-2:hover{
    width: 5rem;
    background-color: white;
    
    padding: 0.5rem 1.25rem;
    color: rgb(43, 42, 42);
    border-radius: 6px;
    margin-left: 5rem;
}
.nav .btn-nav-3{
    
    padding: 0.5rem 1.25rem;
    color: gray;
    border-radius: 6px;
    margin-left: 6rem;
}
.nav .btn-nav-3:hover{
    width: fit-content;
    background-color: white;
    padding: 0.5rem 1.25rem;
    color: rgb(43, 42, 42);
    border-radius: 6px;
    margin-left: 6rem;
}
.file{
    display:flex;
    flex-direction: row;
    width: 18rem auto;
    margin: 10px 20px;
    padding: 5px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #888888;
}
.file p{
    margin: 5px;
    font-size:12px;
}
.contacts{
    width:fit-content;
    height: 250px;
    overflow: hidden;
    margin:0 5px 5px 10px;
}

.contacts .contact p{
    margin: 10px;
    font-size:12px;
    
}
.contacts .contact p img{
    margin-left: 5rem;
    width: 30px;
    border-radius: 100%;
}

.contacts .contact {
    display: flex;
    align-items: center;
    margin:5px;
    border-bottom: 1px solid rgb(228, 223, 223);
    
    
}
.comment{
    position: relative;
    
}
.comment p,
.comment span{
    
    align-items: center;
    justify-items: space-between; 
}
.comment p{
    font-size: 13px;
    margin-left: 5px ;
    margin-right:7rem;
}
.comment span{
   
    font-size: 13px;
    /* margin-right:10px; */
    
}
#profile-title{
    width:300px;
    border-right: 1px inset rgb(245, 239, 239);
    margin-left: 5px;
    height: fit-content;
}
.boxes{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom:2rem;
    
}
.boxes .left-box{
    width:100px;
    /* margin-left:2px; */
    height:50px;
    border-right: 1px inset rgb(245, 239, 239);
}
.boxes .right-box{
    width:100px;
    margin-left: 20px;
    height:50px;
}
.boxes .left-box p{
    font-size: 12px;
    font-weight: bold;
    color: gray;
    margin-left:10px;
}
.boxes .right-box p{
    margin-left:10px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.media-cmpt{
    display:flex;
    flex-direction: column;
    /* overflow: hidden; */
    height: 22rem;
    border-radius: 20px;
    margin-bottom: 20px;
}

.media-cmpt .compte-rendu{
    position: absolute;
    right: 0;
    margin-right:4.2rem;
    width: fit-content;
    background-color: red;
    padding: 0.5rem 0.75rem;
    color: white;
    font-weight: bold;
    border-radius: 6px;
   
}
.compte_rendu{
    display:flex;
    flex-direction: column;
    overflow: hidden;
    height: 24rem;
    border-radius: 20px;
    margin-left: 20px ;
}
 .compte-rendu a{
    text-decoration: none;
    margin: 10px 0 20px 0;

}
  #compte-rendu{
    background-color: rgb(241, 236, 236);
    height:200px;
    width: 100%;
    overflow: scroll;
    border-radius: 20px;
    padding: 15px 70px;
    margin:10px  10px ;
    
} 
.text-small{
    font-size: 10px;
    
}
a{text-decoration:none;}
table{
    border-radius:20px;
    margin: 10px auto;
    width: 200px;
    border:none;
    background-color: white;
    box-shadow: 1px 1px 20px #888888;
}
td{
    
    height: 30px;
    border-radius:20px;
}
 .td{
    
    height:fit-content;
    border-right:1px inset gray;
    
}
nav {
    
   
    border-radius: 20px;
    margin: 20px  0 20px 20px ;
}
nav div .navbar-nav a{
    
   margin-right: 60%;
}
nav div .navbar-nav a:active{
    background-color: white;
    border-radius: 10px;
    color: red;

    
}
.btn-white{
    background-color: white;
    
    
}
.bg-nav {
    border-radius: 20px;
    width: fit-content;
    margin: 10px auto;
    padding: 5px;
    
}
.bg-nav  ul{
    list-style: none;
    display: flex;
    margin: 5px;
    
}
.bg-nav  ul li a{
    text-decoration: none;
    color:gray;
    padding: 1rem;
    
}
.bg-nav  ul li a:active{
    background-color: white;
    color:gray;
    border-radius: 20px;
    color: red;
  
}
nav{
    background-color: rgb(241, 236, 236);
}

.media-compte {
    display:flex;
    flex-direction: row;
    overflow: hidden;
    height: 22rem;
    width: 97%;
    /* margin:80% auto; */
    border-radius: 20px; 
   
}
.btn-compte{
    
    width: fit-content;
    background-color: red;
    padding: 0.5rem 0.75rem;
    color: white;
    text-align: center;
    border-radius: 6px;

}
.btn-compte:hover{
    text-decoration: none;
    color: white;
}

#side nav div ul{
    display: inline-block;
    
}
#side nav div ul li a:active {
    color: red;
    
    
}
#side nav div ul li a{
    display: flex;
    flex-direction: row;
    margin: 10px auto;
}
